<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/users/access" method="post" id="login">
        <input type="text" name="name" autocomplete="off" placeholder="Email" value="<%= locals.oldData ? oldData.name : null %>">
        <% if (locals.errors && errors.name) { %>
            <p> <%= errors.name.msg %> </p>
        <% } %>
        <input type="password" name="password" autocomplete="off"  placeholder="Password" value="<%= locals.oldData ? oldData.password : null %>">
        <% if (locals.errors && errors.password) { %>
            <p> <%= errors.password.msg %> </p>
        <% } %>
        <button type="submit">Access</button>
    </form>
</body>
</html>